mixin svg(name)
	svg
		use(xlink:href=`#${name}`)

mixin img(fileName)
	- const url = `upload/${fileName}`
	img(src=url )&attributes(attributes)

mixin btn(text)
	+b.A.btn(href="#")
		.filled
			+svg('btn-bg-filled')
		.stroked
			+svg('btn-bg-filled')
		span #{text}