@mixin input-placeholder{
  &::-webkit-input-placeholder{
    @content;
  }
  &:-moz-placeholder{ /* Firefox 18- */
    @content;
  }
  &::-moz-placeholder{ /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder{
    @content;
  }
}
@mixin button-hover{
  &:hover{
    opacity: 0.8;
    text-decoration: none;
  }
}
/*media*/
@mixin max-width($x){
  @media screen and (max-width: $x){
    @content;
  }
}
@mixin min-width($x){
  @media screen and (min-width: $x){
    @content;
  }
}
@mixin max-height($x){
  @media screen and (max-height: $x){
    @content;
  }
}
@mixin min-height($x){
  @media screen and (max-height: $x){
    @content;
  }
}
@mixin transition{
  transition: all 300ms;
}
@mixin transition1{
  transition: all 700ms;
}
@mixin shadow{
  box-shadow: 0.7px 0.7px 2px 0 rgba(0, 0, 0, 0.14);
}
@mixin text-shadow{
  text-shadow: 0px 1px 9px rgba(56, 58, 64, 0.4);
}
/*triangles*/
@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}
@mixin css-triangle($color, $direction, $size: 6px, $height: $size, $position: absolute, $round: false){
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $round{
    border-radius: 3px;
  }
  @if $direction == down{
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $height solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up{
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $height solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right{
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $height solid $color;
    margin-right: -$size;
  } @else if $direction == left{
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $height solid $color;
    margin-left: -$size;
  }
}
/*colors*/
@function lighter($color, $tone){
  $adjust: 16*$tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}
@function darker($color, $tone){
  $adjust: -16*$tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}