.header{
  display: flex;
  align-items: center;
  background: $viking;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  height: 64px;
  &__logo{
    flex-shrink: 0;
    height: 100%;
    img{

    }
  }
  &-menu{

    margin-left: 70px;
    ul{
      display: flex;
      li{
        a{
          height: 64px;
          display: flex;
          align-items: center;
          padding: 0 45px;
          box-sizing: border-box;

          color: white;
          text-transform: uppercase;
          font-size: 14px;
          &:hover{
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25),transparent);
            border-top: 1px solid rgba(255, 255, 255, 0.49);
          }
          &.router-link-exact-active{
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25),transparent);
            border-top: 1px solid rgba(255, 255, 255, 0.49);
          }

        }
      }
    }
  }
}