.info-block{

  box-shadow: 0px 1px 1px 0px rgba(228, 228, 228, 0.7);
  &__header{
    height: 60px;
    border-radius: 5px 5px 0 0;
    background: $viking;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  &__title{
    font-size: 26px;
    color: white;
  }
  &__row{
    margin-bottom: 23px;
    &:last-child{
      margin-bottom: 0;
     }
    &--right{
      text-align: right;
    }
  }
  &__controls{
    padding-left: 25px;
    margin-left: auto;
    display: flex;
    align-items: center;
    >div{
      margin-right: 40px;
      &:last-child{
        margin-right: 0;
       }
    }
  }
  &__btns{
    display: flex;
    margin-left: 20px;
    .btn{
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
       }
    }
  }
  &__content{
    background: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px ;
  }
}