.table-el{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $mercury;
  padding: 15px 0;
  box-sizing: border-box;
  &:first-child{
    border-top: 1px solid $mercury;
   }
  &__content{
    display: flex;
    align-items: center;
    .checkbox{
      margin-right: 15px;
    }
  }
  &__controls{
    display: flex;
    .btn{
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}