.user-preview{
  display: flex;
  align-items: center;
  &__img{
    margin-right: 15px;
  }
  &__title{
    color: $mineShaft;
    font-size: 16px;

  }
  &__country{
    color: $lochmara;
    font-size: 16px;

  }
}