.user{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  &__message{
    font-size: 24px;
  }
  &__img{
    margin-bottom: 15px;
    text-align: center;
  }
  &__title{
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
    color: $mineShaft;
  }
  &__country{
    text-align: center;
    font-size: 18px;
    color: $viking;
  }
}