<template lang="pug">
  include /_assets/assets
  +b.footer(:style="[backgroundColor]")
    +e.title Copyright 2019, WebFriends Team
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    data () {
      return {
      }
    },
    computed: {
      backgroundColor () {
        return {
          background: `${this.selectedColorHex}`
        }
      },
      ...mapGetters('settings', {
        selectedColorHex: 'selectedColorHex'
      })
    }
  }
</script>

<style scoped>

</style>