<template lang="pug">
  include /_assets/assets
  +b.header(:style="[backgroundColor]")
    +e.logo
      router-link( to="/" )
        img(src="@/assets/logo.jpg")
    +b.header-menu
      ul
        li
          router-link( to="/" active-class="active") Users
        li
          router-link( to="/admin" active-class="active") Admin panel
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    data () {
      return {
      }
    },
    computed: {
      backgroundColor () {
        return {
          background: `${this.selectedColorHex}`
        }
      },
      ...mapGetters('settings', {
        selectedColorHex: 'selectedColorHex'
      })
    }
  }
</script>

<style lang="scss" >
</style>