<template lang="pug">
  include /_assets/assets
  fragment
    .info-block__row
      input-el(:placeholder="'Title of table'" :value="tableTitle" :label-title="'Title of table'" @input="changeTitle")
    .info-block__row
      select-el(:selected="selectedFont" :clearable="false" :options="fonts" title="Font Family:" @input="changeFont")
    .info-block__row
      colorPicker(:color-options="colors" :selected="selectedColorHex" label="" empty-option="None" input-id="color" title="Accent Color:"  @input="changeColors")
</template>

<script>
  import colorPicker from './../UI/color-picker'
  import inputEl from './../UI/input-el'
  import selectEl from './../UI/select-el'
  import {mapGetters, mapActions} from 'vuex'

  export default {
    props: ['title'],
    data () {
      return {
      }
    },
    computed: {
      ...mapGetters('settings', {
        colors: 'colors',
        fonts: 'fonts',
        selectedColorHex: 'selectedColorHex',
        selectedFont: 'selectedFont',
        tableTitle: 'tableTitle'
      })
    },
    methods: {
      ...mapActions('settings', {
        changeColors: 'changeColors',
        changeFont: 'changeFont',
        changeTitle: 'changeTitle'
      })
    },
    components: {
      colorPicker,
      inputEl,
      selectEl
    }
  }
</script>

<style lang="scss">

</style>