<template lang="pug">
  include /_assets/assets
  +b.user-preview
    +e.img
      router-link(:to="{ name: 'user', params: { id: id }}")
        img(src="@/assets/people-small.png")
    +e.desc
      router-link(:to="{ name: 'user', params: { id: id }}")
        +e.title {{first}} {{last}}
        +e.country {{country}}
</template>

<script>
  export default {
    props: ['first', 'last', 'country', 'id'],
    data () {
      return {
      }
    }
  }
</script>

<style lang="scss">

</style>