<template lang="pug">
  include /_assets/assets
  info-block
    slot(slot="title") Add User
    slot(slot="content")
      .info-block__row
        input-el(:placeholder="'First Name'" :label-title="'First Name'" v-model="first")
      .info-block__row
        input-el(:placeholder="'Last Name'" :label-title="'Last Name'" v-model="last")
      .info-block__row
        select-el(:selected="countries[0]" :clearable="false" :options="countries" title="Country:" v-model="country")
      .info-block__row--right
        +b.btn--viking.--medium(@click="createUser") add
</template>

<script>
  import infoBlock from './../UI/info-block'
  import inputEl from './../UI/input-el'
  import selectEl from './../UI/select-el'
  import {mapGetters, mapMutations} from 'vuex'

  export default {
    name: 'add',
    data () {
      return {
        first: '',
        last: '',
        country: ''
      }
    },
    computed: {
      ...mapGetters('users', {
        countries: 'countries'
      })
    },
    methods: {
      createUser () {
        let country
        if (this.country) {
          country = this.country
        } else {
          country = this.countries[0]
        }
        const user = {
          first: this.first,
          last: this.last,
          country,
          checked: false
        }
        this.$store.dispatch('users/createUser', user)
          .catch(() => {
          })
      },
      ...mapMutations([
        'hideModal'
      ]),
      login () {
        this.hideModal()
      }
    },
    components: {
      infoBlock,
      inputEl,
      selectEl
    }
  }
</script>

<style lang="scss">

</style>