<template lang="pug">
  include /_assets/assets
  info-block
    slot(slot="title") Edit User
    slot(slot="content")
      .info-block__row
        input-el(:placeholder="'First Name'" :label-title="'First Name'" v-model="first" )
      .info-block__row
        input-el(:placeholder="'Last Name'"  :label-title="'Last Name'" v-model="last")
      .info-block__row
        select-el(:selected="country" :clearable="false" :options="countries" title="Country:" @input="changeCountry")
      .info-block__row--right
        +b.btn--viking.--medium(@click="updateUser") edit
</template>

<script>
  import infoBlock from './../UI/info-block'
  import inputEl from './../UI/input-el'
  import selectEl from './../UI/select-el'
  import {mapMutations, mapGetters} from 'vuex'
  export default {
    props: ['payload'],
    name: 'edit',
    data () {
      return {
        first: '',
        last: '',
        country: ''
      }
    },
    methods: {
      changeCountry (value) {
        this.country = value
      },
      updateUser () {
        const user = {
          first: this.first,
          last: this.last,
          country: this.country,
          id: this.payload
        }
        this.$store.dispatch('users/updateUser', user)
          .catch(() => {
          })
      },
      ...mapMutations([
        'hideModal'
      ])
    },
    created () {
      this.country = this.user.country
      this.first = this.user.first
      this.last = this.user.last
    },
    computed: {
      user () {
        const id = this.payload
        return this.$store.getters['users/userById'](id)
      },
      ...mapGetters('settings', {
        tableTitle: 'tableTitle'
      }),
      ...mapGetters('users', {
        users: 'users',
        countries: 'countries'
      })
    },
    components: {
      infoBlock,
      inputEl,
      selectEl
    }
  }
</script>

<style lang="scss">

</style>