.btn{
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  padding: 6px 24px;
  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;
  &--e-blue{
    background: #1c8898;
  }
  &--viking{
    background: $viking;
  }
  &--carnation{
    background: #f14f5b;

  }
  &--puerto-rico{
    background: $puertoRico;
  }
  &--key-lime-pie{
    background: $keyLimePie;
  }
  &--medium{
    display: inline-block;
    padding: 14px 28px;
  }
}