.checkbox{
  position: relative;
  width: 12px;
  input{
    top: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    &:checked{
      + .checkbox__icon{

        &:before{
          opacity: 1;
        }
      }
      + .checkbox__link{
        .checkbox__icon{
          &:before{
            opacity: 1;
          }
        }
      }
    }
  }
  label{
    z-index: 9;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    position: relative;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    display: flex;
    margin: 0;
    align-items: center;
    height: 26px;


  }
  &__icon{
    display: block;
    position: absolute;
    @include transition;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;

    /*box-shadow: inset 0px 4px 8px 0 rgba(0, 0, 0, 0.14);
    background-color: $tr;
    border: 1px solid $kelley-green-three;*/
    border-radius: 0;
    background-color: white;
    border: solid 1px $nileBlue;
    box-shadow: none;
    &:before{
      content: '';
      z-index: 1;
      position: absolute;
      left: -1px;
      top: -1px;
      width: 4px;
      height: 11px;
      border-radius: 0;
      opacity: 0;
      border: 2px solid $viking;
      /*       border: 2px solid $kelley-green-three;*/

      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(45deg) translateY(-50%);
      @include transition;

    }
  }

}