.color-picker{
  display: flex;
  align-items: center;
  &__title{
    margin-right: 25px;
    color: $mineShaft;
    font-size: 16px;

  }
  .wrapper-dropdown{
    position: relative;
    width: 77px;
    height: 48px;
    background: #FFF;
    color: #2e2e2e;
    outline: none;
    cursor: pointer;
    & > span{
      width: 100%;
      display: block;
      border: 1px solid $mercury;
      padding: 7px;
      box-sizing: border-box;
      height: 100%;
      border-radius: 5px;

    }
  }
  .wrapper-dropdown > span > span{
    padding: 0 12px;
    margin-right: 5px;
    width: 33px;
    height: 100%;
    display: block;
    box-sizing: border-box;
  }
  .wrapper-dropdown > span > span.noColor{
    background: #CCC;
    position: relative;
  }
  .wrapper-dropdown > span > span.noColor:after{
    content: "";
    background: red;
    -webkit-transform: rotate(-32deg);
    transform: rotate(-32deg);
    display: inline-block;
    width: 28px;
    height: 2px;
    position: absolute;
    bottom: 7px;
    left: -2px;
  }
  .wrapper-dropdown > span:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 13px;
    top: calc(50% + 4px);
    margin-top: -6px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2e2e2e transparent;
  }
  .wrapper-dropdown .dropdown{
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    font-weight: normal;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    border: 1px solid $mercury;
    border-top: 0;
  }
  .wrapper-dropdown .dropdown li{
    display: block;
    text-decoration: none;
    color: #2e2e2e;
    padding: 5px;
    cursor: pointer;
    min-height: 28px;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
  }
  .wrapper-dropdown .dropdown li > span{
    padding: 0 12px;
    margin-right: 5px;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
  }
  .wrapper-dropdown .dropdown li > span.noColor{
    background: #CCC;
    position: relative;
  }
  .wrapper-dropdown .dropdown li > span.noColor:after{
    content: "";
    background: red;
    -webkit-transform: rotate(-32deg);
    transform: rotate(-32deg);
    display: inline-block;
    width: 28px;
    height: 2px;
    position: absolute;
    bottom: 7px;
    left: -2px;
  }
  .wrapper-dropdown .dropdown li:hover{
    background: #eee;
    cursor: pointer;
  }
}