.input{
  label{
    span{
      display: block;
      font-size: 16px;
      margin-bottom: 7px;
      color: $mineShaft;
    }
    input{
      outline: none;
      padding: 14px 20px;
      box-sizing: border-box;
      border: 1px solid $mercury;
      width: 100%;
      border-radius: 5px;
      color: $gray;
      &:focus{
        @include input-placeholder{
          opacity: 0;
        }
      }
      @include input-placeholder{
        color: $gray;
        opacity: 1;
        font-size: 16px;
      }
    }
  }
  &--small{
    label{
      input{
        padding: 6px 20px;
      }
    }

  }
}