.select{
    &__title{
      font-size: 16px;
      margin-bottom: 7px;
      color: $mineShaft;
    }
  &--small{
    .vs__dropdown-toggle{
      padding: 3px 10px;
      .vs__actions:after{
        border-color: $gullGray transparent;
      }
    }

  }
}