<template lang="pug">
  include /_assets/assets
  div
    info-block
      slot(slot="title") Admin Panel
</template>

<script>
import infoBlock from './UI/info-block'
export default {
  components: {
    infoBlock
  }
}
</script>

<style lang="scss" >

</style>