<template lang="pug">
  include /_assets/assets
  +b.user
    +e.content
      template(v-if="user")
        +e.img
          img(src="@/assets/people-big.png")
        +e.desc
          +e.title {{user.first}} {{user.last}}
          +e.country {{user.country}}
      template(v-else)
        +e.message User not found
</template>

<script>
export default {
  props: ['id'],
  data () {
    return {

    }
  },
  computed: {
    user () {
      const id = this.id
      return this.$store.getters['users/userById'](id)
    }
  }
}
</script>

<style scoped>

</style>