<template lang="pug">
  include /_assets/assets
  .row
    .col.col--left
      info-block
        slot(slot="title") {{tableTitle}}
        slot(slot="btns")
          +b.btn--e-blue(@click="showModal({modal:'addModal'})") add user
          +b.btn--carnation(@click="deleteChecked") delete items
        slot(slot="controls")
          select-el(:selected="'Sort by Country'" mod="small" :clearable="false" @input="changeSort" :options="filterCountries" )
          search(mod="small" @search="setSearch")
        slot(slot="content")
          table-el(v-for="user in filteredData" :key="user.id")
            slot(slot="content" )
              checkboxEl(:name="'test'" :checked="user.checked" @input="changeCheck({id:user.id, value:$event})")
              user-preview(:first="user.first" :id="user.id" :last="user.last" :country="user.country")
            slot(slot="controls" )
              +b.btn--key-lime-pie(@click="duplicateUser(user.id)") DUPLICATE
              +b.btn--puerto-rico(@click="showModal({modal:'editModal',payload:user.id})") Edit
              +b.btn--carnation(@click="deleteUser(user.id)") Delete

    .col.col--right
      info-block
        slot(slot="title" ) Settings
        slot(slot="content")
          options

</template>

<script>
  import infoBlock from './UI/info-block'
  import tableEl from './UI/table-el'
  import inputEl from './UI/input-el'
  import options from './blocks/Options'
  import userPreview from './blocks/user-preview'
  import selectEl from './UI/select-el'
  import checkboxEl from './UI/checkbox-el'
  import search from './UI/search'
  import {mapGetters, mapActions} from 'vuex'

  export default {
    data () {
      return {
        filteredData: [],
        currentCountry: '',
        search: ''
      }
    },
    mounted () {
      this.getfilteredData()
    },
    watch: {
      users () {
        this.getfilteredData()
      }
    },
    methods: {
      getfilteredData () {
        this.filteredData = this.users
        let filteredDataBySort = []
        let filteredDataBySearch = []
        if (this.currentCountry !== '') {
          if (this.currentCountry === 'All') {
            this.filteredData = this.users
          } else {
            filteredDataBySort = this.filteredData.filter(obj => obj.country === this.currentCountry)
            this.filteredData = filteredDataBySort
          }
        }
        if (this.search !== '' && this.search !== undefined) {
          filteredDataBySearch = this.filteredData.filter(obj => obj.first.indexOf(this.search.toLowerCase()) >= 0)
          this.filteredData = filteredDataBySearch
        }
      },
      changeSort (value) {
        this.currentCountry = value
        this.getfilteredData()
      },
      setSearch (value) {
        this.search = value
        this.getfilteredData()
      },
      changeCheck (data) {
        this.$store.dispatch('users/changeCheck', data)
      },
      ...mapActions('modal', {
        showModal: 'showModal'
      }),
      ...mapActions('settings', {
        changeColors: 'changeColors',
        changeFont: 'changeFont',
        changeTitle: 'changeTitle'

      }),
      ...mapActions('users', {
        deleteUser: 'deleteUser',
        duplicateUser: 'duplicateUser',
        deleteChecked: 'deleteChecked'
      })
    },
    computed: {
      ...mapGetters('settings', {
        tableTitle: 'tableTitle'
      }),
      ...mapGetters('users', {
        users: 'users',
        countries: 'countries'
      }),
      filterCountries () {
        return ['All'].concat(this.countries)
      }
    },
    components: {
      infoBlock,
      tableEl,
      inputEl,
      options,
      selectEl,
      search,
      userPreview,
      checkboxEl
    }
  }
</script>

<style scoped>

</style>