<template lang="pug">
  include /_assets/assets
  #wrapper(:style="[fontFamily]")
    header-view
    .content
      .container
        router-view
    modal
    footer-view
</template>

<script>
import headerView from './components/blocks/header.vue'
import footerView from './components/blocks/footer.vue'
import modal from './components/UI/modal.vue'
import {mapGetters} from 'vuex'
let WebFont = require('webfontloader')
export default {
  name: 'app',
  data () {
    return {
    }
  },
  mounted () {
    this.loadFont('Lato')
  },
  methods: {
    loadFont (font) {
      WebFont.load({
        google: {
          families: [font]
        }
      })
    }
  },
  computed: {
    fontFamily () {
      return {
        fontFamily: `${this.selectedFont}, sans-serif`
      }
    },
    ...mapGetters('settings', {
      selectedFont: 'selectedFont'
    })
  },
  components: {
    headerView,
    footerView,
    modal
  }
}
</script>

<style lang="scss" >
  @import "~styles/main.scss";
</style>
