p{
  font-size: 50px;
}
a{
  text-decoration: none;
}
body{
  background: #f1f1f1;
}
#wrapper{
  min-width: 1300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container{
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.content{
  padding: 55px 0;
  flex-grow: 1;
  display: flex;
  box-sizing: border-box;
}
.row{
  display: flex;
  justify-content: space-between;
}
.col{
  width: 100%;
  &--left{
    width: calc(100% - 380px - 30px);
  }
  &--right{
    width: 380px;
  }
}
.vs__dropdown-option--highlight {
  background: $mercury !important;
  color: $mineShaft !important;
}
.vs__dropdown-toggle{
  min-width: 180px;
  background: white;
  padding: 11px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid $mercury;
  .vs__selected,.vs__search{
    margin: 0;
  }
  .vs__selected{
    color: $gray;
    font-size: 16px;
  }
  .vs__actions{
    position: relative;
    &:after{
      content: '';

      width: 0;
      height: 0;
      position: absolute;
      right: 5px;
      top: calc(50% + 4px);
      margin-top: -6px;
      border-width: 6px 6px 0 6px;
      border-style: solid;
      border-color: #2e2e2e transparent;
    }
    svg{
      display: none;
    }
  }
}