<template lang="pug">
  include /_assets/assets
  +b.checkbox
    label
      input(:name="name" type="checkbox" :checked="checked ? checked : ''" @input="input")
      +e.SPAN.icon

</template>

<script>
  export default {
    props: ['name', 'checked'],
    data () {
      return {
        val: this.value
      }
    },
    methods: {
      input (e) {
        this.$emit('input', e.srcElement.checked)
      }
    }
  }
</script>

<style lang="scss">

</style>