<template lang="pug">
  include /_assets/assets
  +b.color-picker
    +e.title {{title}}
    .wrapper-dropdown
      span(@click="toggleDropdown()" v-html="selector")
      ul.dropdown(v-show="active")
        li(v-for="color in colors" @click="setColor(color.hex, color.name)")
          span(:style="{background: color.hex}")
      input( type="hidden" :name="inputId" :id="inputId" v-model="selectedColor")
</template>

<script>
  export default {
    props: ['title', 'color-options', 'selected', 'label', 'empty-option', 'input-id'],
    data: function () {
      return {
        active: false,
        selectedColor: this.selected,
        selectedColorName: '',
        colors: this.colorOptions,
        noSelection: true
      }
    },
    computed: {
      selector: function () {
        if (!this.selectedColor && !this.emptyOption) {
          return this.label
        } else if (!this.selectedColor && this.emptyOption) {
          if (this.emptyOption === 'true') {
            return this.label
          } else if (this.emptyOption !== 'true' && this.noSelection === false) {
            return '<span class="noColor"></span> '
          } else {
            return this.label
          }
        } else {
          return '<span style="background: ' + this.selectedColor + '"></span> '
        }
      }
    },
    methods: {
      setColor: function (color, colorName) {
        this.selectedColor = color
        this.selectedColorName = colorName
        this.active = false
        this.noSelection = false
        this.$emit('input', this.selectedColor)
      },
      toggleDropdown: function () {
        this.active = !this.active
      }
    }
  }
</script>

<style lang="scss">

</style>