<template lang="pug">
  include /_assets/assets
  +b.info-block
    +e.header(:style="[backgroundColor]")
      +e.title
        slot(name="title")
      +e.btns
        slot(name="btns")
      +e.controls
        slot(name="controls")
    +e.content
      slot(name="content")
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    data () {
      return {
      }
    },
    computed: {
      backgroundColor () {
        return {
          background: `${this.selectedColorHex}`
        }
      },
      ...mapGetters('settings', {
        selectedColorHex: 'selectedColorHex'
      })
    }
  }
</script>

<style lang="scss">

</style>