<template lang="pug">
  include /_assets/assets
  +b.input(:class="mod ? 'input--' + mod : ''")
    label
      span(v-if="labelTitle") {{labelTitle}}
      input(:placeholder="placeholder" :value="value" @input="input($event)")

</template>

<script>
  export default {
    props: ['labelTitle', 'value', 'mod', 'placeholder'],
    data () {
      return {
        val: this.value
      }
    },
    methods: {
      input (value) {
        this.$emit('input', value.srcElement.value)
      }
    }
  }
</script>

<style lang="scss">

</style>