<template lang="pug">
  include /_assets/assets
  .c-appModal
    transition(name="custom-classes-transition"
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut")
      .c-appModal__overlay(v-if="visible")
    transition(name="custom-classes-transition"
    enter-active-class="animated fadeInUp"
    leave-active-class="animated fadeOutDown")
      .c-appModal__content(v-if="visible"  @click.self="hideModal")
        .c-appModal__innerContent
          component(:is="component" :payload="payload")
</template>

<script>
  import {mapState, mapMutations} from 'vuex'

  export default {
    data () {
      return {
        component: null
      }
    },
    computed: {
      ...mapState('modal', {
        visible: 'modalVisible',
        modalComponent: 'modalComponent',
        payload: 'payload'
      })
    },
    watch: {
      modalComponent (componentName) {
        this.component = componentName
      }
    },
    created () {
      const escapeHandler = (e) => {
        if (e.key === 'Escape' && this.visible) {
          this.hideModal()
        }
      }
      document.addEventListener('keydown', escapeHandler)
      this.$once('hook:destroyed', () => {
        document.removeEventListener('keydown', escapeHandler)
      })
    },
    methods: {
      ...mapMutations('modal', ['hideModal'])
    }
  }
</script>

<style lang="scss">
  .c-appModal{
    &__overlay{
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 900;
      background: rgba(#222, 0.8);
    }
    &__content{
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 901;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__innerContent{
      max-width: 380px;
      width: 100%;
      padding: 14px;
      background: transparent;
      .info-block{
        box-shadow: none;
      }
    }
  }
  .animated{
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }
  .fadeIn{
    animation-name: fadeIn;
    @keyframes fadeIn{
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
  }
  .fadeOut{
    animation-name: fadeOut;
    @keyframes fadeOut{
      from{
        opacity: 1;
      }
      to{
        opacity: 0;
      }
    }
  }
  .fadeInUp{
    animation-name: fadeInUp;
    @keyframes fadeInUp{
      from{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
      }
      to{
        opacity: 1;
        transform: none;
      }
    }
  }
  .fadeOutDown{
    animation-name: fadeOutDown;
    @keyframes fadeOutDown{
      from{
        opacity: 1;
      }
      to{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
      }
    }
  }

</style>