<template lang="pug">
  include /_assets/assets
  +b.search
    input-el(:placeholder="'Search by Name'" :mod="mod" :value="val" @input="input")
    img(src="@/assets/search-icon.png" @click="search")
</template>

<script>
  import inputEl from './../UI/input-el'
  export default {
    props: ['val', 'mod'],
    data () {
      return {
        value: this.val
      }
    },
    methods: {
      search (data) {
        this.$emit('search', this.value)
      },
      input (data) {
        this.value = data
      }
    },
    components: {
      inputEl
    }
  }
</script>

<style lang="scss">
</style>