<template lang="pug">
  include /_assets/assets
  +b.select(:class="mod ? 'select--' + mod : ''")
    +e.title(v-if="title") {{title}}
    v-select(v-model="val"  :options="options"  :clearable="false" @input="changeSort")
</template>

<script>
  export default {
    props: ['title', 'mod', 'selected', 'options', 'clearable'],
    data () {
      return {
        val: this.selected
      }
    },
    methods: {
      changeSort (value) {
        this.$emit('input', value)
      }
    },
    computed: {
      value () {
        return this.selected
      }
    }
  }
</script>

<style lang="scss">

</style>