<template lang="pug">
  include /_assets/assets
  +b.table-el
    +e.content
      slot(name="content")
    +e.controls
      slot(name="controls")

</template>

<script>
	export default {
}
</script>

<style lang="scss">

</style>